<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>User details</h2>
<form action="/templates" method="post">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="price">Price</label><br>
    <input type="text" id="price" name="price" required><br><br>

    <label for="description">description</label><br>
    <input type="text" id="description" name="description" required><br><br>
 <button type="submit">Submit</button>

</form>
</body>
</html>